@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;700&display=swap');

div.document-name{
    font-family: 'Noto Sans JP', sans-serif!important;
    font-weight:400;
}

.skills .ability{
    font-family:'Noto Sans JP', sans-serif!important;

    width:40px!important;
}

.skill-name{
    font-family:'Noto Sans JP', sans-serif!important;
    font-weight:200;
}

section.ability-scores.optional-ability-0{
    font-family: 'Noto Sans JP', sans-serif!important;
    font-weight: 700;
}

.rule-tooltip{
    font-family: 'Noto Sans JP', sans-serif!important;
    font-weight:300;
}

.equipped{
    font-size:12px!important;
}
.identified{
    font-size:12px!important;
}
.charname{
    letter-spacing:-5px!important;
    font-family: 'Noto Sans JP', sans-serif!important;
    font-weight:300;
}

.title {
    font-family: 'Noto Sans JP', sans-serif!important;
    margin-bottom: 4px;
}

.subtitle {
    font-family: 'Noto Sans JP', sans-serif!important;
}

#tooltip > section > section.header > h2{
    font-family: 'Noto Sans JP', sans-serif!important;
    font-weight: 700;
}

.midi-qol-target-name {
    line-height: 17px;
}

.item-detail.item-target {
    font-size: 90%;
}