.dnd5e.sheet.actor ul.skills-list {
  flex: 0 0 180px;
  height: 440px;
  list-style: none;
  margin: 0 5px 0;
  padding: 3px 0 2px;
  border: 2px groove #eeede0;
  border-radius: 3px;
}
.dnd5e.sheet.actor ul.skills-list li.skill {
  height: 24px;
  padding: 3px 2px;
}
.dnd5e.sheet.actor ul.skills-list li.skill:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.dnd5e.sheet.actor ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
  flex: 0 0 16px;
  line-height: 18px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
  flex: 0 0 42px;
  text-transform: capitalize;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
  flex: 0 0 20px;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
  flex: 0 0 26px;
  text-align: center;
  color: #7a7971;
}
.tidy5e.sheet.actor .top-notes li span:first-child {
  flex: 3 0 1px;
}