.dnd5e.sheet.actor ul.skills-list {
    flex: 0 0 180px;
    height: 440px;
    list-style: none;
    margin: 0 5px 0;
    padding: 3px 0 2px;
    border: 2px groove #eeede0;
    border-radius: 3px;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill {
    height: 24px;
    padding: 3px 2px;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill:nth-child(even) {
    background: rgba(0, 0, 0, 0.05);
  }
  .dnd5e.sheet.actor ul.skills-list li.skill h4 {
    flex: 1px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
    flex: 0 0 16px;
    line-height: 18px;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
    flex: 0 0 42px;
    text-transform: capitalize;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
    flex: 0 0 20px;
  }
  .dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
    flex: 0 0 26px;
    text-align: center;
    color: #7a7971;
  }
  
  /* 5ePHB Journal Styling JP版*/
  /* OVERALL */
  
  /* 標準のフォントサイズを大きく */
  
  .phbs .editor-content {
      font-size: .423cm !important;
      text-rendering: optimizeLegibility !important;
  }
  
  /* HEADERS */
  /* 見出しの余白を拡げて見やすく */
  .phbs .editor-content h1, 
  .phbs .editor-content h2, 
  .phbs .editor-content h3, 
  .phbs .editor-content h4 {
      margin-top: 1em !important; 
      margin-bottom: 0.5em !important;
      font-family: MrJeeves, 'Noto Sans JP', sans-serif !important;
      font-feature-settings: "palt";
      color: rgb(93, 24, 13) !important;
      line-height: 1.1em;
  }
  .phbs .editor-content h1{
      font-size:.987cm;
      font-weight: 900;
      -webkit-column-span:all;
      -moz-column-span:all;
      border-bottom: none;
      -webkit-text-stroke-width: 1.2px;
  }
  .phbs .editor-content h2{
      font-size:.705cm;
      font-weight: 900;
      -webkit-column-span:all;
      -moz-column-span:all;
      border-bottom: none;
      -webkit-text-stroke-width: 1px;
  }
  .phbs .editor-content h3{
      font-size:.582cm;
      font-weight: 900;
      -webkit-column-span:all;
      -moz-column-span:all;
      border-bottom: 2px solid #c9ad6a;
      -webkit-text-stroke-width: 0.6px;
  }
  .phbs .editor-content h4{
      font-size:.529cm;
      -webkit-column-span:all;
      -moz-column-span:all;
      -webkit-text-stroke-width: 0.8px;
  }
  .phbs .editor-content h5 {
      margin-top: 0;
      margin-bottom: .2em;
      font-family: ScalySansSmallCaps, 'Noto Sans JP', sans-serif !important;
      font-feature-settings: "palt";
      font-size: .423cm;
      font-weight: 900;
      -webkit-text-stroke-width: 0.2px;
  }
  .phbs .editor-content h6 {
      font-size: .423cm;
      margin-top: 0;
      margin-bottom: .2em;
      font-weight: 400;
      text-decoration: underline;
      margin-top: 1em !important; 
      margin-bottom: 0.5em !important;
      font-family: 'Noto Sans JP', sans-serif !important;
      font-feature-settings: "palt";
  }
  
  /* BODY */
  /* 行間を広げて読みやすく */
  .phbs .editor-content p{
      margin: 0 0 1.5em;
      line-height: 1.6em;
      -webkit-text-stroke-width: 0px;
  }
  
  .phbs .editor-content p+p{
      margin-top: -0.8em;
  }
  
  /* 章の頭の飾り文字を日本語版PHB風に */
  .phbs .editor-content h1+p::first-letter{
      float:left;
      font-family: Solberry, 'Noto Sans JP', sans-serif !important;
      font-size:4.2em;
      font-weight: 600;
      color:rgba(50, 90, 20, 0.7);
      padding: 14px 0px 0px 0px;
      line-height:.8em;
  
  }
  
  /* 
      Not the background shared on the screenshots, 
      but one I found with Creative Commons.
      Credit:
      https://www.deviantart.com/kluckham/art/PHB-Background-texture-547154484
  */
  
  .phbs .editor-content {
      color:#000;
      padding:1cm 1.7cm;
      padding-bottom:1.5cm;
      background-color:#EEE5CE;
      background-image:url('https://raw.githubusercontent.com/Daxiongmao87/foundry-vtt-5e-phb-journal-styling/main/images/5e-phb-background-imitation.png');
      
      font-family: BookSanity, 'Noto Sans JP', sans-serif !important;
      font-feature-settings: "palt";
      font-size:1.0em;
      text-rendering:optimizeLegibility;
  }
  
  /* 自動字下げは面倒なので使わない */
  .phbs .editor-content p+p, 
  .phbs .editor-content ul+p,
  .phbs .editor-content ol+p {
      text-indent: 0em;
  }
  
  .phbs .editor-content .column-break+section{
      display:block
  }
  
  .phbs .editor-content ol {
      margin-bottom: 1.5em;
      padding-left: 1.4em;
      line-height: 1.6em;
      list-style-position: outside;
      list-style-type: decimal;
  }
  
  .phbs .editor-content blockquote {
      font-family: ScalySans, 'Noto Sans JP', sans-serif !important;
      font-feature-settings: "palt";
      font-style: normal;
      box-sizing: border-box;
      margin-bottom: 1.6em;
      margin-top: 23px;
      padding: 5px 10px;
      background-color: #e0e5c1;
      border-style: solid;
      border-width: 11px;
      border-image: url('https://raw.githubusercontent.com/Daxiongmao87/foundry-vtt-5e-phb-journal-styling/main/images/note-wrap-imitation.png') 40;
      border-image-outset: 9px 0;
      box-shadow: 1px 4px 14px #888;
  }
  .phbs .editor-content blockquote p+p {
      margin-top: 0;
  }
  .phbs .editor-content blockquote p {
      margin-bottom: 0;
  }
  .phbs .editor-content blockquote h2 {
      margin-top: 0em !important;
      margin-bottom: 0em !important;
  }
  .phbs .editor-content blockquote em {
      font-style: italic !important;
  }
  
  /* 追加：スタッツブロック風の水平線 */
  .phbs .editor-content hr {
      border: none;
      height: 5px;
      background-color: transparent;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPjxwYXRoIGQ9J00wIDAgTDUgMS43NSBWMy4yNSBMMCA1IFonIHN0cm9rZS13aWR0aD0nMCcgZmlsbD0nIzkyMjYxMCcvPjwvc3ZnPg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      display: block;
      visibility: visible;
      margin: 1em 0em;
  }
  .phbs .editor-content hr+ul {
      margin-bottom: .5em;
      padding-left: 1em;
      text-indent: -1em;
      list-style-type: none;
  }
  
  .phbs .editor-content ul {
      margin-bottom: 1.5em;
      padding-left: 1.4em;
      line-height: 1.6em;
      list-style-position: outside;
      list-style-type: disc;
  }
  
  .phbs .editor-content ul, ol {
      margin-top: 0;
  }
  
  /* IMAGES */
  
  .phbs .editor-content .vtta-image-container {
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
  }
  .phbs .editor-content img {
      border-color: rgba(0,0,0,0);
  }
  
  /* TABLE */
  
  .phbs .editor-content table thead {
      border-bottom-color: rgba(0,0,0,0) !important;
      background-color: rgba(0,0,0,0) !important;
      height:0px !important;
      vertical-align: bottom !important;
      padding-bottom: .3em;
      padding-right: .1em;
      padding-left: .1em;
  }
  .phbs .editor-content table thead p {
      text-indent:0 !important;
      margin: 0px;
      line-height:0px;
      border-bottom-color: rgba(0,0,0,0) !important;
      background-color: rgba(0,0,0,0) !important;
      height:0px !important;
  }
  .phbs .editor-content table tr {
      width: auto !important;
      min-width: 64px;
      text-shadow: none !important;
      color: black !important;
      
      background-color: rgba(0,0,0,0) !important;
  }
  /* セルの余白をちょっと増やす */
  .phbs .editor-content table td,
  .phbs .editor-content table th {
      padding: 0.35em;
  }
  .phbs .editor-content table th {
      font-weight: 800;
      text-align: left;
  }
  .phbs .editor-content table thead {
      font-weight: 800 !important;
      text-align: left;
  }
  .phbs .editor-content table {
      border-spacing: 0;
  }
  .phbs .editor-content table tbody tr:nth-child(odd) {
      background-color: #e0e5c1 !important;
  }
  .phbs .editor-content table tr:nth-child(even) {
      background-color: rgba(0,0,0,0) !important;
  }
  .phbs .editor-content table{
      font-family: ScalySans, 'Noto Sans JP', sans-serif;
      font-feature-settings: "palt";
      width: 100%;
      margin-bottom: 1em;
      font-size: .344cm;
      line-height: 1.1em;
      -webkit-column-break-inside: avoid;
      box-sizing: border-box;
      padding: 0.3em 0.1em;
      background: none;
      border-collapse: collapse;
      border-color:rgba(0,0,0,0.02) !important;
      table-layout: auto !important;
      white-space:normal;    
  }
  /* 自動字下げは面倒なので使わない */
  .phbs .editor-content table+p{
      text-indent:0em
  }
  
  /* 追加：Secret部の文字を薄く */
  .phbs section.secret {
      color: #666;
      padding: 15px;
      margin: 20px 0px;
  }
  .phbs section.secret p:last-child,
  .phbs section.secret ul:last-child,
  .phbs section.secret ol:last-child,
  .phbs blockquote p:last-child,
  .phbs blockquote ul:last-child,
  .phbs blockquote ol:last-child {
      margin-bottom: 0em;
  }
  /* 追加：リストをちょっと見やすく */
  .phbs .editor-content li {
      margin-bottom: 6px;
  }
  
  /* CODE */
  
  .phbs .editor-content code {
      padding: 2px 4px;
      font-size: 90%;
      color: #c7254e !important;
      background-color: #f9f2f4 !important;
      border-radius: 4px !important;
  }
  
  /* CUSTOM STUFF */
  /* 横幅を可変に変更 */
  .phbs .editor-content .class-table {
      margin-top: 45px;
      margin-bottom: 60px;
      border-collapse: separate;
      background-color: white;
      border: initial;
      border-style: solid;
      border-image-outset: 25px 17px;
      border-image-repeat: stretch;
      border-image-slice: 150 200 150 200;
      border-image-source: url('https://raw.githubusercontent.com/Daxiongmao87/foundry-vtt-5e-phb-journal-styling/main/images/class-table-wrap-imitation.png');
      border-image-width: 47px;
      max-width:100%;
      margin-left:20px;
      margin-right:20px;
      width: -moz-available;          /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      width: fill-available;
  }
  
  /* 追加：Descriptive Text */
  
  .phbs .editor-content .class-descriptive {
      line-height: 1.6em;
      margin-bottom: 1.6em;
      background-color: rgba(250, 247, 234, 0.7);
      border-style: solid;
      border-width: 7px;
      border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAAM1BMVEUAAAAAAAAAAAAkAAA1GwA0GgA5GgA5GwA4HgA7HgA5HgA7HgA7HwA7HgA8HgA7HgA8HwDn6RpAAAAAEHRSTlMAAQcHMDExQ1ZW1dXY3t7+02zZCAAAAKNJREFUWMPt2LEOwyAMBNCkSXGpKfb/f20G3AGUiWOJdNlueYrt6di2J3xHrmZF9mVCdnd3T/NgCO+ItUWdB0P4RrQWfR4chOVggUcu/cgCH0X6o+ynuivg3QjIAm8FggQJEiRIkCBBggQJEoTApO56An15EFIrVgJ4vaAtlnlwEKKbGrLATlgOxg9XeORfv9IMH+Xzb7tSzGo+gL7chNcjXpUulIwXVrjWS+0AAAAASUVORK5CYII=) 12 stretch;
      border-image-outset: 4px;
      box-shadow: 0 0 6px #faf7ea;
      padding: 5px 10px;
  }
  
  /* 追加：Stat Block */
  
  .phbs .editor-content .class-statblock {
      position: relative;
      padding-top: 15px;
      background-color: #faf0ca;
      border-style: solid;
      border-width: 10px;
      border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAACVBMVEX///8AAADmmihtJc8lAAAAAXRSTlMAQObYZgAAACxJREFUeAHt2EEBACAAwkCwf2hL8NK7AAuwdCw9U5Og4FgeAAAAAK7IBxPjAl3qBs+hfAnLAAAAAElFTkSuQmCC) 10;
  }
  .phbs .editor-content .class-statblock ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .phbs .editor-content .class-statblock li{
      width: 70px;
      text-align: center;
      position: relative;
      padding-top: 20px;
  }
  
  /* 追加：Stats List*/
  .phbs .editor-content .class-statblock ul li:nth-child(1)::before {
      content: "【筋】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  .phbs .editor-content .class-statblock ul li:nth-child(2)::before {
      content: "【敏】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  .phbs .editor-content .class-statblock ul li:nth-child(3)::before {
      content: "【耐】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  .phbs .editor-content .class-statblock ul li:nth-child(4)::before {
      content: "【知】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  .phbs .editor-content .class-statblock ul li:nth-child(5)::before {
      content: "【判】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  .phbs .editor-content .class-statblock ul li:nth-child(6)::before {
      content: "【魅】";
      font-weight:bold;
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
  }
  
  
  /* 
    Credit:
    https://github.com/jonathonf/solbera-dnd-fonts
  */
  
  @font-face{
      font-family:BookSanity;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:BookSanity;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold.otf') format('opentype');
      font-weight:bold;
      font-style:normal
  }
  @font-face{
      font-family:BookSanity;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Italic.otf') format('opentype');
      font-weight:normal;
      font-style:italic
  }
  @font-face{
      font-family:BookSanity;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Bookinsanity/Bookinsanity%20Bold%20Italic.otf') format('opentype');
      font-weight:bold;
      font-style:italic
  }
  @font-face{
      font-family:NodestoCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:NodestoCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:NodestoCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Bold.otf') format('opentype');
      font-weight:bold;
      font-style:normal
  }
  @font-face{
      font-family:NodestoCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Italic.otf') format('opentype');
      font-weight:normal;
      font-style:italic
  }
  @font-face{
      font-family:NodestoCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Nodesto%20Caps%20Condensed/Nodesto%20Caps%20Condensed%20Bold%20Italic.otf') format('opentype');
      font-weight:bold;
      font-style:italic
  }
  @font-face{
      font-family:ScalySans;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:ScalySans;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans Bold.otf') format('opentype');
      font-weight:bold;
      font-style:normal
  }
  @font-face{
      font-family:ScalySans;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans Italic.otf') format('opentype');
      font-weight:normal;
      font-style:italic
  }
  @font-face{
      font-family:ScalySans;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans/Scaly%20Sans Bold Italic.otf') format('opentype');
      font-weight:bold;
      font-style:italic
  }
  @font-face{
      font-family:ScalySansSmallCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:ScalySansSmallCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold.otf') format('opentype');
      font-weight:bold;
      font-style:normal
  }
  @font-face{
      font-family:ScalySansSmallCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Italic.otf') format('opentype');
      font-weight:normal;
      font-style:italic
  }
  @font-face{
      font-family:ScalySansSmallCaps;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Scaly%20Sans%20Caps/Scaly%20Sans%20Caps%20Bold%20Italic.otf') format('opentype');
      font-weight:bold;
      font-style:italic
  }
  @font-face{
      font-family:Solberry;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Solbera%20Imitation/Solbera%20Imitation.otf') format('opentype');
      font-weight:normal;
      font-style:normal
  }
  @font-face{
      font-family:MrJeeves;
      src:url('https://raw.githubusercontent.com/jonathonf/solbera-dnd-fonts/master/Mr%20Eaves/Mr%20Eaves%20Small%20Caps.otf') format('opentype');
      font-weight:normal;
      font-style:normal        
  }
  
  